div {
  width: 300px;
  height: 400px;
  display: block;
  position: relative;
}

div {

  &.family-guy::after {
    @extend %opacity;
    @extend %card-layout;
    background: url(../img/family-guy.jpg);
  }

  &.stranger-things::after {
    @extend %opacity;
    @extend %card-layout;
    background: url(../img/stranger-things.jpg);
  }

  &.westworld::after {
    @extend %opacity;
    @extend %card-layout;
    background: url(../img/westworld.jpg);
  }

  &.better-call-saul::after {
    @extend %opacity;
    @extend %card-layout;
    background: url(../img/better-call-saul.jpg);
  }

}
