// Descriptive color variables
$white : #FFFFFF;
$tamarillo : #991613;
$burnt-sienna : #EC5D62;
$sail : #BDDAFA;

// Functional color variables
$color-border : $white;
$color-question-text : rgba($tamarillo, .8);

// Asset paths
$path-img : '../img';

// Media query breakpoints

$brk-responsive : '(min-width: 768px)';
