// Descriptive color variables
$white: #FFFFFF;
$tamarillo: #991613;

// Functional color variables
$color-border: $white;
$color-question-text: rgba($tamarillo, .8);

// Image path
$path-img: '../img';
